<main>
  <participants-view [event]="event"></participants-view>
  <button (click)="addParticipant()">Teilnehmer hinzufügen</button>

  <section class="participants-table">
    <table class="participants-list">
      <thead>
      <tr>
        <th class="column-header">Name</th>
        <th class="column-header">Status</th>
        <th class="column-header">Status ändern</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="event">
        <tr *ngFor="let participant of event.participants" class="data">
          <th class="name">{{participant.name}}</th>
          <th>
            {{participant.answer === undefined ? '?' : participant.answer}}
          </th>
          <th>
            <button (click)="changeIsComing(participant, yes)">Ja</button>
            <button (click)="changeIsComing(participant, no)">Nein</button>
            <button (click)="changeIsComing(participant, maybe)">Vll</button>
          </th>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </section>
</main>
