<section class="participants-overview" (click)="openParticipantsView()">
  <div class="indicator">
    <h3>Teilnehmer</h3>
    <div>
      {{eventService.getYes(event)}}
      <span class="green dot"></span>
      <!--        <mat-icon>check_circle</mat-icon></div>-->
    </div>
    <div>
      {{eventService.getMaybe(event)}}
      <span class="yellow dot"></span>
      <!--        <mat-icon svgIcon="close"></mat-icon>-->
    </div>
    <div>
      {{eventService.getNo(event)}}
      <span class="red dot"></span>
      <!--        <mat-icon>help</mat-icon>-->
    </div>
    <div>
      {{eventService.getNoAnswer(event)}}
      <span class="">Keine Antwort</span>
      <!--        <mat-icon>help</mat-icon>-->
    </div>
  </div>
</section>
