/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';

$primary: mat-palette($mat-blue,900);
$accent: mat-palette($mat-light-blue,A200);
$warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
